<div ng-controller="ProjectCtrl as project" layout="column">

	<div class="div-header content-more-padding">
		<span class="md-display-1 content-less-margin colored-text">Featured Projects</span>	
	</div>

	<div class="div-body" ng-controller="FeaturedCtrl as featured">
		<md-grid-list md-cols-xs="2" md-cols-sm="3" md-cols-md="4" md-cols-gt-md="5"
			md-row-height-gt-md="1:1" md-row-height="2:2"
			md-gutter="42px">

			<md-grid-tile ng-repeat="item in featured.featuredProjects" class="bordered-tile">
				<md-grid-tile-header class="content-less-padding project-tile-header highlighted-tile tile-background" layout-align="start start"
					style="background-image:url('{{item.logo}}');">
					<span class="md-title">{{item.appName}}</span>
				</md-grid-tile-header>
				<md-button href="/#/project/{{item.appName}}" layout-fill aria-label="a"></md-button>
				<md-grid-tile-footer class="content-less-padding project-tile-footer" layout-align="end center">
					<span class="md-subhead">
						<i class="material-icons">star</i>
						<span class="md-title">5.0</span>
					</span>
					<span class="md-subhead md-title">
						<i class="material-icons">arrow_upward</i>
						<span class="md-title">1.0 ENT</span>
					</span>
				</md-grid-tile-footer>
			</md-grid-tile>
		</md-grid-list>
	</div>

	<div class="div-footer content-more-padding">

	</div>

</div>
